<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="url" value="http://www.kopu.cn/destination"/>
    <add key="includeFilter" value=""/>
    <add key="excludeFilter" value="js|css|gif|jpeg|jpg|png|ico|column|page"/>
    <add key="maxThreadCount" value="8"/>
    <add key="maxCrawlDepth" value="2"/>
    <add key="cityItems" value="intro|ready|traffic|point|shopping|food|travel_line|holiday|remind|first_aid_kit|play"/>
  </appSettings>
</configuration>