<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="url" value="http://diaosbook.com"/>
    <add key="includeFilter" value=""/>
    <add key="excludeFilter" value="js|css|gif|jpeg|jpg|png|ico|column"/>
    <add key="maxThreadCount" value="10"/>
    <add key="maxCrawlDepth" value="1"/>
  </appSettings>
</configuration>